<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="images/Smiley.png">
    <link rel="stylesheet" href="styles/portfolio-styles.css">
    <script src="js/portfolio.js" defer></script>
    <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
    <title>Request Confirmed!</title>
</head>
<body>
    <%- include('partials/navigation') %>
    <main>
        <h1>Request Confirmed!</h1>
        <div id="confirmation-info">
            <% if (contact.fname.length != 0 && contact.lname.length != 0) { %> <p><%= "Name: " + contact.fname + " " + contact.lname %></p> <% } %>
            <% if (contact.jobTitle) { %> <p><%= "Title: " + contact.jobTitle %></p> <% } %>
            <% if (contact.company) { %> <p><%= "Company: " + contact.company %></p> <% } %>
            <% if (contact.linkedIn) { %> <p><%= "LinkedIn: " + contact.linkedIn %></p> <% } %>
            <% if (contact.email) { %> <p><%= "Email: " + contact.email %></p> <% } %>
            <% if (contact.meet && contact.other.length == 0) { %> <p><%= "How we met: " + contact.meet %></p> <% } %>
            <% if (contact.other) { %> <p><%= "How we met: " + contact.other %></p> <% } %>
            <% if (contact.message) { %> <p><%= "Additional comment: " + contact.message %></p> <% } %>
            <% if (contact.mailingList) { %> <p><%= "Include in mailing list: Yes" %></p> <% } %>
            <% if (contact.emailFormat == 'html') { %> <p><%= "Format of email: HTML" %></p> <% } %>
            <% if (contact.emailFormat == 'text') { %> <p><%= "Format of email: Text" %></p> <% } %>
            <% if (contact.timestamp) { %> <p><%= "Time of submission: " + contact.timestamp.toLocaleString() %></p> <% } %>
        </div>
        <a href="/contact" id="to-contact-button" >
            <button type="button">
                Make another Request
            </button>
        </a>
    </main>
</body>
</html>
